

<% if current_user %>
<%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
<%= link_to('修改密碼', edit_registration_path(:user)) %>
<% else %>
<%= link_to('註冊', new_registration_path(:user)) %> |
<%= link_to('登入', new_session_path(:user)) %>
<% end %>


<div>
</br>
<%= link_to("發文", new_topic_path ) %>
</div>





<table class="table table-bordered text-center table-condensed">

<tr>

<td>主題</td>

<td>作者</td>

<td>回覆</td>

<td>張貼時間</td>

</tr>

<% @topics.each do |t| %>

<tr>

  <td><%= link_to "#{t.title}", topic_path(t) %></td>
 <td><%= t.try(:email) %></td>
<td><%= t.try(:num)%></td>
<td><%= t.try(:latesttime) %></td>


</tr>

<% end %>

</table>

